 .cartparent{
             display: flex;
             flex-direction: column;
             gap: 30px;
             
             /* background-color:rgb(242, 106, 151) ; */
}
.carttotal{
                opacity: 0; 
}
.cartchilditem{
       background-color: white;
       
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border: 1px solid rgb(159, 158, 158);
}

.i.price{
           background-color: blue;
}
.maindetail{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 100px;
       width: 100%;
       background-color: white;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border: 1px solid rgb(159, 158, 158);
       
}     
.btncheck{
      
       border: none;
       padding: 9px;
       background-color: rgb(225, 36, 99);
       color: white;
       width: 9rem;
       height: 2.3rem;
       font-weight: 40px;
       margin-top: 20px;
       margin-left: 43rem;
       margin-bottom: 50px;
      
}   

.total{
       opacity: 0;
}

@media only screen and (max-width: 768px) {
       .cartparent {
           gap: 10px;
       }
   
       .btncheck {
           margin-left: auto;
           margin-right: auto;
       }
       
       .btncheck,
       .maindetail {
           width: 100%;
           text-align: center;
       }
       
       .total,
       .carttotal {
           opacity: 1;
       }
   }
